<a href="/">Home</a>
<a href="/flights">All Flights</a>
<a href="/flights/new">Add a Flight</a>


<label>Please book a seat between A1 and F9:</label>
<input name="seat" required pattern="[A-F][1-9]\d?">
        