<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <a href="/">Home</a><br>
    <a href="/flights">All Flights</a><br>
    <a href="/flights/new">Add a Flight</a>
  </nav>
  <body>
    <h1><%= title %></h1>
    <div class="welcome">
      <p>Welcome to <%= title %>!</p>
    </div>
  </body>
</html>