<!DOCTYPE html>
<html lang="en">
<head>
  <a href="/">Home</a>
  <a href="/flights">All Flights</a>
  <a href="/flights/new">Add a Flight</a>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flights</title>
</head>
<body>
    <h2>Enter a New Flight</h2>
    <form action="/flights" method="POST">
        <label>Airline:
            <select name="airline">
                <option value="Southwest">Southwest</option>
                <option value="United">United</option>
                <option value="American">American</option>
              </select>
            </label><br>
        <label>Airport:
          <select name="airport">
              <option value="AUS">AUS</option>
              <option value="DAL">DAL</option>
              <option value="LAX">LAX</option>
              <option value="SAN">SAN</option>
              <option value="SEA">SEA</option>
            </select>
        </label><br>
        <label>Flight Number:
          <input type="text" name="flightNo">
        </label><br>
        <label for="departs">Departs:
          <input type="datetime-local" id="departs" name="departs" value="yyyy-MM-ddThh:mm">
        </label><br>
        <label>Now Boarding:
          <input type="checkbox" name="nowBoarding" checked>
        </label><br>
        <label>Please book a seat between A1 and F9:</label>
        <input name="seat" required pattern="[A-F][1-9]\d?">
        <br><br>
        <input type="submit" value="Add Flight">
        
      </form>
</body>
</html>